@use '../abstracts/variables' as *;

/* Mixins */
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 50px;
}

@mixin reset-link($color) {
  text-decoration: none;
  color: $color;
}

@mixin button{
  display: inline-block;
  background-color: $pink;
  padding: 10px 50px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  &:hover{
    background-color: $violet;
  }
}
