@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero{
    margin-bottom: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &_content{
        h1{
            font-weight: bold;
            font-size: 80px;
            width: 86%;
            font-family: $titule-font;
            margin-bottom: 30px;
        }
        p{
            max-width: 70%;
            font-size: 20px;
            color: $gray;
            margin-bottom: 30px;
            font-weight: 400;
        }
        .hero_enlaces{
            display: flex;
            gap: 30px;
            align-items: center;
            a{
                @include reset-link($white);
            }
            a:last-of-type{
                display: inline-flex;  
                align-items: center;
                gap: 10px;
                &:hover{
                    text-decoration: underline;
                }
            }
            .btn{
               @include button;
            }
        }
    }
    &_img{
        position: relative;
        .asian-woman{
            background-color: $green;
            border-radius: 90px;
            width: 26%;
            position: absolute;
            right: 42%;
            top: -4%;
        }
        .glasses-woman{
            background-color: $pink;
            border-radius: 80px;
            width: 26%;
            position: absolute;
            left: -5%;
            top: 95%;
        }
        .caucasian-man{
            background-color: $orange;
            width: 26%;
            border-radius: 85px;
            position: absolute;
            right: 42%;
            top: 50%;
        }
        .black-man{
            background-color: $violet;
            width: 26%;
            border-radius: 85px;
            position: absolute;
            left: -5%;
            bottom: 15%;
        }
        .dark-woman{
            background-color: $yellow;
            width: 26%;
            border-radius: 85px;
            position: absolute;
            right: 5%;
            top: 25%;
        }
        .line-1{
            display: block;
            width: 145%;
            height: 200%;
            border: 1px solid $gray;
            position: absolute;
            border-radius: 50%;
            left: -6%;
            top: 16%;
        }
        .line-2{
            display: block;
            width: 110%;
            height: 190%;
            border: 1px solid $gray;
            position: absolute;
            border-radius: 50%;
            left: 22%;
            top: 65%;
        }
    }
}