@use '../abstracts/variables' as *;
/* Base styles */
* {
    font-size: 18px;
    font-family: $general-font;
    
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

img {
  max-width: 100%;
}